---
import Main from '../layouts/main.astro';
import { contentfulClient } from '../lib/contentful';

import { createTimeSeries } from '../utils/create-time-series';

const tags = await contentfulClient.getEntries({
  content_type: 'blogPost',
});

const tagCounts = createTimeSeries(tags.items);
---

<Main>
  <ul>
    {
      tagCounts.map((item) => {
        // console.log(item);
        const { name, years } = item;

        return (
          <li>
            <code>{name}</code>
            <pre>{JSON.stringify(years, null, 2)}</pre>
          </li>
        );
      })
    }
  </ul>
</Main>
../utils/create-time-series
