---
import { contentfulClient } from '../lib/contentful';

import { createTagCounts } from '../utils/create-tag-counts';

const tags = await contentfulClient.getEntries({
  content_type: 'blogPost',
});

const tagCounts = createTagCounts(tags.items);
---

<html>
  <body>
    <main>
      <ul>
        {
          tagCounts.map((item) => {
            // console.log(item);
            const { name, years } = item;

            return (
              <li>
                <code>{name}</code>
                <pre>{JSON.stringify(years, null, 2)}</pre>
              </li>
            );
          })
        }
      </ul>
    </main>
  </body>
</html>
