---
import Main from '../layouts/main.astro';
import { contentfulClient } from '../lib/contentful';

const tags = await contentfulClient.getEntries({
  content_type: 'blogPost',
});
---

<Main>
  <ul>
    {
      tags.items.map((item) => {
        const {
          fields: { tags },
        } = item;

        return (
          <li>
            <code>{JSON.stringify(tags, null, 2)}</code>
          </li>
        );
      })
    }
  </ul>
</Main>
