<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <!-- Primary Meta Tags -->
    <title>Contentful Tag Machine</title>
    <meta name='title' content='Example site using Astro + Qwik with Contentful to create data viz for tags' />
    <meta
      name='description'
      content='A Demo of Example site using Astro + Qwik with Contentful to create data viz for tags'
    />

    <!-- Open Graph / Facebook -->
    <meta property='og:type' content='website' />
    <meta property='og:url' content='https://contentful-tags-data-viz.netlify.app/' />
    <meta property='og:title' content='Example site using Astro + Qwik with Contentful to create data viz for tags' />
    <meta
      property='og:description'
      content='A Demo of Example site using Astro + Qwik with Contentful to create data viz for tags'
    />
    <meta
      property='og:image'
      content='https://contentful-tags-data-viz.netlify.app/contentful-tag-machine-og-image.jpg'
    />

    <!-- Twitter -->
    <meta property='twitter:card' content='summary_large_image' />
    <meta property='twitter:url' content='https://contentful-tags-data-viz.netlify.app/' />
    <meta
      property='twitter:title'
      content='Example site using Astro + Qwik with Contentful to create data viz for tags'
    />
    <meta
      property='twitter:description'
      content='A Demo of Example site using Astro + Qwik with Contentful to create data viz for tags'
    />
    <meta
      property='twitter:image'
      content='https://contentful-tags-data-viz.netlify.app/contentful-tag-machine-og-image.jpg'
    />

    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
